flask==1.0.2
numpy==1.15.0
requests==2.18.4
appdirs==1.4.3
scipy==1.1.0
mido==1.2.8
python-osc==1.6.6
python-rtmidi==1.1.0
pykka==1.2.1
pretty_midi==0.2.8
flask==
flask-restful==0.3.6
Markdown==2.6.11
wheel==0.31.1
tensorflow==1.8.0